<md-card *ngIf="user" style="margin-bottom:10%;">
    <md-card-header>
        <h1>ACCOUNT SETTINGS</h1>
    </md-card-header>
    <md-card-content>
        <md-accordion class="example-headers-align">
  <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Personal Information
      </md-panel-title>
      <md-panel-description>
        Edit name, Username and other personal info
        <md-icon>account_circle</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

        <md-grid-list *ngIf="!editMode" cols="3" rowHeight="25px">
            <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Name</b></span></md-grid-tile>
            <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">{{user.name}}</span></md-grid-tile>
            <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Username</b></span></md-grid-tile>
            <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">{{user.username}}</span></md-grid-tile>
            <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Change Avatar Picture</b></span></md-grid-tile>
        </md-grid-list>

        <div *ngIf="editMode">
        <md-grid-list cols="6" rowHeight="55px">
            <md-grid-tile colspan="2"><span style="position:absolute; left:0px;"><b>Name</b></span></md-grid-tile>
            <md-grid-tile colspan="4">
              <span style="position:absolute; left:0px;">
                <md-form-field>
                  <input mdInput placeholder="Name" [value]="user.name" [(ngModel)]= "nameForUser">
                </md-form-field>
              </span>
          </md-grid-tile>
            <md-grid-tile colspan="2"><span style="position:absolute; left:0px;"><b>Username</b></span></md-grid-tile>
            <md-grid-tile colspan="4">
              <span style="position:absolute; left:0px;">
                <md-form-field>
                  <input mdInput placeholder="Username" [value]="user.username" [(ngModel)]= "usernameForUser">
                </md-form-field>
              </span>
            </md-grid-tile>
           <md-grid-tile colspan="2"><span style="position:absolute; left:0px;"><b>Change Avatar Picture</b></span></md-grid-tile>
            <md-grid-tile colspan="2">
              <span style="position:absolute; left:0px;">
                  <div style="width: 100%; display: inline-block;">
                    <div>
                      <button md-raised-button class="rounded-button" (click)="imgFileInput.click()">Choose Image</button>
                    </div>
                    <input hidden type="file" #imgFileInput (change)="uploadImage($event)" accept="image/x-png,image/gif,image/jpeg" />
                  </div>
              </span>
            </md-grid-tile>
        </md-grid-list>
            <div style="display: inline-block; margin: 0 auto">
              <div style="border: 1px black dashed; padding:3px">
                <img *ngIf=!avatarArtwork style="max-height: 200px; max-width:100%;" [src]="mediaService.getUserImageUrl(this.user.avatarPath)">
                <img *ngIf=avatarArtwork style="max-height: 200px; max-width:100%;" [src]="avatarArtwork" >
              </div>
            </div>
        </div>

<!-- style="display:inline-block; vertical-align:top;"
        -->
        
        

    <!-- <div>
        <md-form-field>
        <input mdInput placeholder="First name">
        </md-form-field>
    </div>
    
    <md-form-field>
      <input mdInput placeholder="Last Name">
    </md-form-field>


    <md-form-field>
      <input mdInput placeholder="Email">
    </md-form-field>

    <md-form-field>
      <input mdInput type="number" min="1" placeholder="Last Name">
    </md-form-field> -->

    <md-action-row>
      <button *ngIf="!editMode" md-raised-button color="primary" (click)="toggleEditMode()">Edit</button>
      <button *ngIf="editMode" md-raised-button color="primary" (click)="submitUserChange()">Submit</button>
      <button *ngIf="editMode" md-raised-button color="primary" (click)="toggleEditMode()">Cancel</button>
    </md-action-row>
  </md-expansion-panel>

  <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Account Settings
      </md-panel-title>
      <md-panel-description>
        Change password or deactivate account
        <md-icon>security</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <div>
      <md-form-field>
        <input mdInput placeholder="Current Password">
      </md-form-field>
    </div>

    <div>
      <md-form-field>
        <input mdInput placeholder="New Password">
      </md-form-field>
    </div>

    <div>
      <md-form-field>
        <input mdInput placeholder="Repeat New Password">
      </md-form-field>
    </div>

    <button md-button color="warn">Update Password</button>

    <div style="margin-top:5%"><h2>CHANGE EMAIL</h2></div>
    <md-divider></md-divider>
    <div><span>Changing your username can have unintended side effects.</span></div>
    <div><button md-raised-button color="warn">Change Email</button></div>


    <div style="margin-top:5%"><h2>DELETE ACCOUNT</h2></div>
    <md-divider></md-divider>
    <div><span>Once you delete your account, there is no going back. Please be certain.</span></div>
    <div><button md-raised-button color="warn">Delete Account</button></div>

    

    <md-action-row>
    </md-action-row>
  </md-expansion-panel>


  <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Password
      </md-panel-title>
      <md-panel-description>
        **************
        <md-icon>lock</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>
    
    <div>
      <md-form-field>
        <input mdInput placeholder="Current Password">
      </md-form-field>
    </div>

    <div>
      <md-form-field>
        <input mdInput placeholder="New Password">
      </md-form-field>
    </div>

    <div>
      <md-form-field>
        <input mdInput placeholder="Repeat New Password">
      </md-form-field>
    </div>
    

    <md-action-row>
    </md-action-row>
  </md-expansion-panel>

  <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Subscription
      </md-panel-title>
      <md-panel-description>
        View Billing Info and Current Plan
        <md-icon>credit_card</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

  <div *ngIf="user.role != 'PREMIUM'" class="payment_div">
    <div>
      <div><h2>BUCCI BASIC</h2></div>
      <div><p>You're currently a Bucci Basic user</p></div>
      <div><p>With Bucci Basic, you'll see ads and you won't be able to listen offline.</p></div>
      <div><button md-raised-button class="rounded-button">UPGRADE TO BUCCI PREMIUM</button></div>
    </div>  
  </div>

   <div *ngIf="user.role === 'PREMIUM'" class="payment_div">
    <div>
      <div><h2>BUCCI PREMIUM</h2></div>
      <div style="max-width:42%"><p>Your plan will automatically renew on {{renewDate | date: 'shortDate'}} and you'll be charged $4.99</p></div>
      <div><button md-raised-button class="rounded-button" (click)="cancelPremiumAccount()>CHANGE OR CANCEL</button></div>
    </div>
    <div>
        <div><h3>Payment Method</h3></div>
        <div class="payment_box">
          <div style="display:inline-block">
            <img style="max-height:30px; max-width:35px;" [src]="this.user.billingInfo.creditCardCompany.artwork">
          </div>
          <div style="display:inline-block">
            <div style="margin-bottom:1px;"><p style="margin-bottom:1px; font-size:16px;"><b>{{this.user.billingInfo.creditCardCompany.name}} ********{{previewCC}}</b></p></div>
            <div style="margin-top:0px;" ><p style="font-size:12px; margin-top:0px;">Expires: 09/2020</p></div>
          </div>
        </div>
    </div>
      <div><button md-raised-button class="rounded-button">UPDATE PAYMENT METHOD</button></div>
    </div>



    <md-action-row>
    </md-action-row>
  </md-expansion-panel>

  <div *ngIf="user.billingInfo">
  <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
       View Reciepts
      </md-panel-title>
      <md-panel-description>
        View your payment history 
        <md-icon>history</md-icon>
      </md-panel-description>
    </md-expansion-panel-header>

    <receipt-table [receipts]="receipts"></receipt-table>
    <button md-raised-button class="rounded-button more_button" >View More</button>

    <md-action-row>
    </md-action-row>
  </md-expansion-panel>
  </div>


</md-accordion>
    </md-card-content>

</md-card>