<md-card style="width:800px;">
    <div>
    <md-form-field>
        <input name="name" [(ngModel)]= "name" mdInput placeholder="Playlist Name">
    </md-form-field>
    </div>
    <div style="width: 400px;">
    <md-form-field style="width: 400px;">
        <textarea mdInput placeholder="Give your playlist a catchy description" mdTextareaAutosize mdAutosizeMinRows="5"
                mdAutosizeMaxRows="10"></textarea>
    </md-form-field>

    <button md-raised-button (click)="closeDialog()" class="rounded-button"> Cancel</button>
    <button md-raised-button (click)="addPlaylist()" class="rounded-button"> Add Playlist </button>
    </div>
</md-card>