
<div *ngIf="album" style="margin-bottom:10%">
<md-card class="bg-card">
    <md-card-header>
        <div class="albumPic">
              <img style="max-height:220px; max-width:220px;" [src]="mediaService.getAlbumImageUrl(this.album.artworkPath)">  
        </div>
        <div class="albumInfo">
            <div><h4>Album</h4></div>
            <div><h1>{{album.title}}</h1></div>
            <div><h4>By {{album.primaryArtist.name}}</h4></div>
            <div><h4>{{album.releaseDate | date:'mediumDate'}} {{album.songs.length}} Songs, 57 min</h4></div>
            <button md-raised-button  class="rounded-button">Play</button>
            <button md-raised-button (click) ="saveAlbum()"  class="rounded-button">Save</button>
            <button md-mini-fab  style="color: white; background-color:#3f51b5;"><i class="material-icons" style="font-size:18px;bottom:0;">more_horiz</i></button>
        </div>
    </md-card-header>
    <md-card-content>
        <div class="table">
            <music-table [data] = "album.songs" [isAlbum]="true"> </music-table>
        </div>
    </md-card-content>
</md-card>
</div>
  