
<div *ngIf="album" style="margin-bottom:10%">
<md-card class="bg-card">
    <md-card-header>
        <div class="albumPic">
              <img style="max-height:220px; max-width:220px;" [src]="mediaService.getAlbumImageUrl(this.album.artworkPath)">  
        </div>
        <div class="albumInfo">
            <div><h4>Album</h4></div>
            <div><h1>{{album.title}}</h1></div>
            <div><h4>By <a class="link" [routerLink]="['/artist', album.primaryArtist.id]">{{album.primaryArtist.name}}</a></h4></div>
            <div><h4>{{album.releaseDate | date:'mediumDate'}} {{album.songs.length}} Songs, 57 min</h4></div>
            <button md-raised-button (click)="playAlbum()" class="rounded-button">Play</button>
            <button md-raised-button *ngIf="!album.following" (click) ="saveAlbum()"  class="rounded-button">Save</button>
            <button md-raised-button *ngIf="album.following" (click) ="unSaveAlbum()"  class="rounded-button">Remove from library</button>
            <button md-mini-fab  [mdMenuTriggerFor]="menu"  style="color: white; background-color:#3f51b5;"><i class="material-icons" style="font-size:18px;bottom:0;">more_horiz</i></button>
            <md-menu #menu="mdMenu" [overlapTrigger]="false" xPosition="before">
                <button (click)="addToQueue()" md-menu-item>
                    <span>Add To Queue</span>
                </button>
            </md-menu>
        </div>
    </md-card-header>
    <md-card-content>
        <div class="table">
            <music-table [data] = "album.songs" [isAlbum]="true"> </music-table>
        </div>
    </md-card-content>
</md-card>
</div>
  