<div *ngIf="artist">
<md-card style="margin-bottom:10%">
    <md-card-header>
        <div style="margin-bottom: 1%">
            <div >
                <div><h3>Artist<i class="material-icons" style="color:#3f51b5;">verified_user</i></h3></div>
                <div><h1>{{artist.name}}</h1></div>
                <button md-raised-button class="rounded-button">Play</button>
                <button md-raised-button class="rounded-button" *ngIf="!artist.following" (click)="followArtist()">Follow</button>
                <button md-raised-button class="rounded-button" *ngIf="artist.following" (click)="unFollowArtist()">Unfollow</button>
                <button md-mini-fab  style="color: white; background-color:#3f51b5; top:5px;" [mdMenuTriggerFor]="artistMenu"><i class="material-icons " style="font-size:24px; ">more_horiz</i></button>

                <md-menu #artistMenu="matMenu">
                    <button *ngIf="isOwner" md-menu-item (click)="addAlbum()"> Add Album </button>
                    <button *ngIf="isOwner" md-menu-item> Add Song </button>
                    <button *ngIf="isOwner" md-menu-item (click)="addConcert()"> Add Concert </button>
                    <button md-menu-item> Follow </button>
                </md-menu>
            </div>
        </div>
    </md-card-header>
    <md-tab-group>
        <md-tab label="OVERVIEW">
            <div style="display:inline-block; vertical-align:top; width:70%;">
                <div class="sub-header"><h4>Latest Release</h4></div>
                <div class="hoverable-div">
                    <div style="width: 20%; float:left" >
                         <img src="../assets/yung_gravy.png">   
                    </div> 
                    <div style="width:80%;float:left;">    
                        <h4>Ran It Up Again</h4>
                        <p>OCT 28, 2017</p> 
                    </div>
                </div>
                <div class="sub-header"><h4>Popular</h4></div>
                <div>
                    <music-table [data]="viewSongs" [isAlbum] = "true"></music-table>
                </div>
                <div style="margin-top:2%">
                    <button *ngIf = "showAllSongs == false" style="width:20%" md-raised-button class="rounded-button" (click)="toggleShow(true)">SHOW 5 MORE</button>
                    <button *ngIf = "showAllSongs == true" style="width:25%" md-raised-button class="rounded-button" (click)="toggleShow(false)">SHOW ONLY 5 SONGS</button>
                </div>
                </div>
            <div style="display: inline-block;">
                <md-nav-list>
                    <h3 md-subheader>Related Artist</h3>
                    <ng-container *ngFor="let artist of relatedArtists; let i = index">
                    <md-list-item [routerLink]="['/artist',artist.id]" style="margin-bottom:5%;" *ngIf="i < 7">
                        <img md-list-icon class="img-circle" style="max-height:50px; max-width:50px; min-height:50px; min-width:50px;" [src]="mediaService.getArtistImageUrl(artist.avatarPath)">
                        <h4 md-line>{{artist.name}}</h4>
                    </md-list-item>
                    </ng-container>
                </md-nav-list>
            </div>
            <div>
                <md-list>
                    <h3 >Albums</h3>
                    <md-divider></md-divider>
                    <div *ngFor = "let album of artist.albums">
                        <mini-album [album]="album" ></mini-album>
                    </div>
                </md-list>
            </div>
            
        </md-tab>
        <md-tab label="ABOUT">
            <button mdTooltip="Edit Bio" style="float:right;" *ngIf="isOwner && isEditModeBio == false" (click)="toggleEditModeBio()" md-icon-button><i class="material-icons">mode_edit</i></button>
            <h2>Bio</h2>
            <img *ngIf="!artwork" style="max-height:600px; max-width:320px;" [src]="mediaService.getArtistImageUrl(artist.avatarPath)">
            <img *ngIf="artwork" style="max-height:600px; max-width:320px;" [src]="artwork">
            <ng-container *ngIf="isEditModeBio == false"><p>{{artist.biography}}</p></ng-container>
            <div *ngIf="isEditModeBio == true">
                <div>
                    <input style = "margin-top:1%; margin-bottom:1%;" [disabled] = "true" placeholder="Upload Image...." mdInput value="../assets/ugly_god.png" required>
                    <button type="button" style="background-color:#3f51b5; color:white; margin-bottom:1%" md-raised-button (click)="imgFileInput.click()"><i class="material-icons">file_upload</i>Update Image</button>
                    <input hidden type="file" #imgFileInput (change)="uploadImage($event)"/>
                </div>
            
                <div class="txtarea">
                    <md-form-field class="txtarea">
                        <textarea [(ngModel)]="bio" mdInput placeholder="Artist Bio" mdTextareaAutosize mdAutosizeMinRows="2"
                                    mdAutosizeMaxRows="10">
                                </textarea>
                    </md-form-field>
                </div>
                <div>
                <button class="rounded-button" (click)="editBio()" md-raised-button>Update</button>
                <button  class="rounded-button" (click)="toggleEditModeBio()" md-raised-button>Cancel</button>
                </div>
            </div>
            <div>
                <h2 style="margin-bottom:1px;">{{artist.stats.monthlyPlays}}</h2>
                <p style="margin-top:0px;">Monthly Listeners</p>
            </div>
            <div>
                <h2 style="margin-bottom:1px;">{{artist.stats.totalPlays}}</h2>
                <p style="margin-top:0px;">Total Listeners</p>
            </div>
            <div style="background-color:aqua; width:25%;">
                <h2 style="margin-bottom:1px;">{{artist.stats.rank}}th in the world</h2>
            </div>
        </md-tab>
        <md-tab label="CONCERTS">
            <md-list>
                <h3 >Upcoming Concerts</h3>
                
                <div *ngFor="let concert of artist.concerts">
                    <div>
                        <md-grid-list cols="6" rowHeight="60px">
                            <md-grid-tile ><md-icon color="warn" style="position:absolute; left:0px;">event</md-icon></md-grid-tile>
                            <md-grid-tile><span style="position:absolute; left:0px;">{{concert.mainStar.name}}</span></md-grid-tile>
                            <md-grid-tile><h4>{{concert.releaseDate | date:'fullDate'}}</h4></md-grid-tile>
                            <md-grid-tile><h4>{{concert.name | capitalize}}</h4></md-grid-tile>
                            <md-grid-tile *ngIf="concert.location.city"><h4 > {{concert.location.city}}, {{concert.location.state}}</h4></md-grid-tile>
                            <md-grid-tile *ngIf="!concert.location.city"><h4 > TBA</h4></md-grid-tile>
                            <md-grid-tile ><button md-icon-button (click)="viewDetails(concert)"><md-icon>launch</md-icon></button></md-grid-tile>
                        </md-grid-list>
                    </div>
                <md-divider></md-divider>
                </div>
            </md-list>
        </md-tab>
        <md-tab label="RELATED ARTISTS">
        <md-grid-list cols="4" rowHeight="300px">
        <md-grid-tile *ngFor = "let artist of relatedArtists" colspan= "1" rowpan = "1" >
            <div>
                <div style="height: 220px; width: 220px;"><image [src]="mediaService.getArtistImageUrl(artist.avatarPath)" [route]="'/artist/'+artist.id"></image></div>
                <div *ngIf ="artist.name" class ="browse-item-template"><h4><b><a class="link" [routerLink]="['/artist', artist.id]">{{artist.name}}</a></b></h4></div>
            </div>
        </md-grid-tile>
        </md-grid-list>
        </md-tab>
    </md-tab-group>

</md-card>
</div>