
<div style="width:100%;">
     <h1 md-dialog-title>Pending Album</h1>
        <div style="display:inline-block; width:20%;">
                    <img [src]="artworkPath">
        </div>
          <div style=" margin-left: 5%; display:inline-block; width:70%; height:100%;">
            <md-grid-list cols="2" rowHeight="30px">
              <md-grid-tile colspan="1"><span ><b>Album Name</b></span></md-grid-tile>
              <md-grid-tile colspan="1"><span style="position:absolute; left:0px;" >{{data.title}}</span></md-grid-tile>
              <md-grid-tile colspan="1"><span ><b>Release Date</b></span></md-grid-tile>
              <md-grid-tile colspan="1"><span style="position:absolute; left:0px;" >{{data.releaseDate | date}}</span></md-grid-tile>
              <md-grid-tile colspan="1"><span ><b>Artist</b></span></md-grid-tile>
              <md-grid-tile colspan="1"><span style="position:absolute; left:0px;" >{{data.primaryArtist.name}}</span></md-grid-tile>
              <md-grid-tile colspan="1"><span ><b>Total Song Duration</b></span></md-grid-tile>
              <md-grid-tile colspan="1"><span style="position:absolute; left:0px;" >1 hr 3 min</span></md-grid-tile>
              <md-grid-tile colspan="1"><span ><b>Num Songs</b></span></md-grid-tile>
              <md-grid-tile colspan="1"><span style="position:absolute; left:0px;" >{{data.songs.length}}</span></md-grid-tile>
              <md-grid-tile colspan="1"><span ><b>Requester</b></span></md-grid-tile>
              <md-grid-tile colspan="1"><span style="position:absolute; left:0px;" >{{data.requester.email}}</span></md-grid-tile>
              
              
                <!-- style="position:absolute; left:0px;" -->
            </md-grid-list>
          </div>
    </div>
 
<!-- <md-grid-list cols="3" rowHeight="30px">
    <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Name</b></span></md-grid-tile>
    <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">{{data.title}}</span></md-grid-tile>
    <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Artist</b></span></md-grid-tile>
    <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">{{data.primaryArtist.name}}</span></md-grid-tile> -->
    <!-- <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Album</b></span></md-grid-tile>
    <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">{{data.data.album}}</span></md-grid-tile> -->
    <!-- <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Total Song Duration</b></span></md-grid-tile>
    <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">1 hr 3 min</span></md-grid-tile>
    <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Num Songs</b></span></md-grid-tile>
    <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">{{data.songs.length}}</span></md-grid-tile>
    <md-grid-tile colspan="1"><span style="position:absolute; left:0px;"><b>Requester</b></span></md-grid-tile>
    <md-grid-tile colspan="2"><span style="position:absolute; left:0px;">{{data.requester.email}}</span></md-grid-tile>
</md-grid-list> -->

<requested-song-table [data] = "data.songs"> </requested-song-table>




<!-- <h1 md-dialog-title>Pending Song</h1>
 <md-list>
    <h3 md-subheader>Song Name</h3>
    <md-list-item>
        <h3 >{{data.data.name}}</h3>
    </md-list-item>
    <h3 md-subheader>Artist</h3>
    <md-list-item>
        <h3 >{{data.data.artist_name}}</h3>
    </md-list-item>
    <h3 md-subheader>Album</h3>
    <md-list-item>
        <h3 >{{data.data.album}}</h3>
    </md-list-item>
    <h3 md-subheader>Flag as explicit</h3>
    <md-list-item>
        <md-slide-toggle color="warn"></md-slide-toggle>
    </md-list-item>
</md-list>  -->


<div class="song-file">
    <i class="material-icons" style="float:left; font-size:36px;">attachment</i>
    <p><a routerLink="/">{{data.title}}.mp3</a></p>
</div>

<button md-raised-button color="primary" (click)="acceptAlbum()">Accept Request</button>
<button md-raised-button color="primary">Decline Request</button>
<button md-raised-button color="primary" (click)="onNoClick()">Cancel</button>

