<div class="main loginScreen">
  <div class="loginContainer">

  <md-card id="loginCard">
    <div *ngIf="!confirmed">
    <h1 class="logo-text">Forgot Your Password</h1>
    <form class="login-form">
      <md-form-field class="login-full-width">
        <input type="email" name="email" [(ngModel)]= "email" mdInput placeholder="Email" [formControl]="emailFormControl" required>
        <md-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</md-error>
      </md-form-field>

      <div>
        <button md-raised-button (click)="resetPassword()" id="loginBtn">SUBMIT</button>
      </div>
    </form>
    </div>
    <div *ngIf="confirmed">
        <h1 class="logo-text">EMAIL SENT</h1>
        <md-card-content>
            <p>An email has been sent to {{email}}. Please allow up to 5 minutes to receive the email.  You will be provided with a link which will allow you to change your password."</p>

        </md-card-content>
    </div>
  </md-card>

  </div>

</div>