<!-- <md-card class = "featured-album-card mat-elevation-z22">
    <md-card-header>
            <md-card-title><h2>Featured Album</h2></md-card-title>
    </md-card-header>
        <md-card-content style= "height:200px;">
                <div class = "img-container">
       
                        <image src="http://localhost:8080/resources/ALBUMS/1/artwork.png"></image>
                </div>
                <div class = "featured-info">
                    <h4>Album</h4>
                    <h1><u>An Nice Album</u></h1>
                    <h3> By <u>Dennis Reynolds</u></h3>
                    <button class="rounded-button" md-raised-button>Play</button>
                    <button class="rounded-button" md-raised-button>Save</button>
                    <button md-mini-fab  style="color: white; background-color:#3f51b5;"><i class="material-icons" style="font-size:18px;bottom:0;">more_horiz</i></button>
                </div>
        </md-card-content>
</md-card> -->


<md-card class = "browse-card mat-elevation-z22">
    <!-- <md-card-header>
        
    </md-card-header> -->
        <md-card-content style= "margin-bottom:100px">
                <md-tab-group class ="browse-tabs">
                <md-tab label="FRIEND ACTIVITY">
                                        <div *ngFor="let activity of activityFeed">
                                        <md-grid-list cols="5" rowHeight="100px">
                                                <md-grid-tile colspan="1"> <span style="position:absolute; left:0px;"><i class="material-icons" style="font-size:48px">person</i></span> </md-grid-tile>
                                                <md-grid-tile colspan="3">
                                                        <span style="position:absolute; left:0px;"><b>{{activity?.id.feed}}</b></span>
                                                </md-grid-tile>
                                                <md-grid-tile colspan="1">
                                                <p> {{activity?.id.date | date}} </p>
                                                </md-grid-tile>
                                        </md-grid-list>
                                        <md-divider></md-divider>
                                        </div>
                                        <div *ngIf=" activityFeed && activityFeed.length < 1">
                                                <span><i style="color: red;" class="material-icons">error</i>Looks like there is no activity to show. Follow some friends to see what they're up to! </span>
                                        </div>
                </md-tab>
                 <md-tab label="OVERVIEW">
                        <div>
                        <h2><b>TOP SONG CHARTS</b></h2>
                        <md-grid-list cols="4" [rowHeight]="rowHeight">
                                <md-grid-tile colspan= "1" rowpan = "1" >
                                        <div>
                                                <div style="height: 220px; width: 220px;"><image src="/assets/chart.png" route="/top-charts"></image></div>
                                                <div class ="browse-item-template"><h4><b><a>Global Top 50</a></b></h4></div>
                                        </div>
                                </md-grid-tile>
                        </md-grid-list>
                        <md-divider></md-divider>
                        </div>
                        <div>
                        <h2><b>TOP ALBUMS</b></h2>
                        <md-grid-list cols="4" [rowHeight]="rowHeight">
                                <md-grid-tile *ngFor = "let album of charts.topAlbums" colspan= "1" rowpan = "1" >
                                        <div>
                                                <div style="height: 220px; width: 220px;"><image [src]="mediaService.getAlbumImageUrl(album.artworkPath)" [route]="'/album/'+album.id"></image></div>
                                                <div *ngIf ="album.title" class ="browse-item-template"><h4><b><a [routerLink]="['/album', album.id]">{{album.title}}</a></b></h4></div>
                                                <div *ngIf ="album.stats?.totalPlays" class ="browse-item-template"><h4>{{album?.stats?.totalPlays}} PLAYS</h4></div>
                                        </div>
                                </md-grid-tile>
                        </md-grid-list>
                        <md-divider></md-divider>
                        </div>
                       <div>
                               <h2><b>TOP ARTISTS</b></h2>
                                <md-grid-list cols="4" [rowHeight]="rowHeight">
                                        <md-grid-tile *ngFor = "let artist of charts.topArtists" colspan= "1" rowpan = "1" >
                                                <div>
                                                        <div style="height: 220px; width: 220px;"><image [circle]="true" [src]="mediaService.getArtistImageUrl(artist.avatarPath)" [route]="'/artist/'+artist.id"></image></div>
                                                        <div *ngIf ="artist.name" class ="browse-item-template"><h4><b><a [routerLink]="['/artist', artist.id]">{{artist.name}}</a></b></h4></div>
                                                        <div *ngIf ="artist.stats?.totalPlays" class ="browse-item-template"><h4>{{artist?.stats?.totalPlays}} PLAYS</h4></div>
                                                </div>
                                        </md-grid-tile>
                                </md-grid-list>
                       </div>
                 </md-tab>
                <md-tab label="GENRE & MOODS">
                        <div>
                        <h2><b>SONGS BY GENRE</b></h2>
                        <md-grid-list cols="4" [rowHeight]="rowHeight">
                                <md-grid-tile *ngFor="let genre of genres" colspan= "1" rowpan = "1" >
                                        <div>
                                                <div style="height: 220px; width: 220px;"><image [src]="genre.img" [route]="'/genre/'+genre['id']"></image></div>
                                        </div>
                                </md-grid-tile>
                        </md-grid-list>
                        <md-divider></md-divider>
                        </div>
                 </md-tab>
                 <!-- <md-tab label="FOR YOU">
                         <homepage-template [data]="recommended"></homepage-template>
                 </md-tab>
                 <md-tab label="CHARTS">
                         <homepage-template [data]="overView"></homepage-template>
                 </md-tab>
                  <md-tab label="GENRE & MOODS">
                         <homepage-template [data]="genres" rowHeight = "250"></homepage-template>
                 </md-tab> 
                 <md-tab label="NEW RELEASES">
                         <homepage-template [data]="overView"></homepage-template>
                 </md-tab>
                 <md-tab label="CONCERTS">
                         <homepage-template [data]="overView"></homepage-template>
                 </md-tab> -->
        </md-tab-group>
                

        </md-card-content>
</md-card>