<div class="main loginScreen">
  <div class="loginContainer">

  <md-card id="loginCard">
    <h1 class="logo-text">🅱️ ucci Tunes</h1>
    <form class="login-form">
      <md-form-field class="login-full-width">
        <input type="email" name="email" [(ngModel)]= "userName" mdInput placeholder="Email" [formControl]="emailFormControl" required>
        <md-error *ngIf="emailFormControl.invalid">{{getErrorMessage()}}</md-error>
      </md-form-field>

      <md-form-field class="login-full-width">
        <input type="password" name="pw" mdInput [(ngModel)]= "password" [formControl]="passwordFormControl" placeholder="Password" required>
        <md-error *ngIf="passwordFormControl.invalid">{{getPasswordMessage()}}</md-error>
      </md-form-field>

      <div>
        <button md-raised-button (click)="loginUser()" id="loginBtn">LOGIN</button>
      </div>
    </form>

    <div class="extraBtnsContainer">
      <div class="extraLoginBtn">
        <button md-button (click)="goSignUp()">SIGN UP</button>
      </div>

      <div class="extraLoginBtn">
        <button md-button>FORGOT USERNAME OR PASSWORD?</button>
      </div>
    </div>


  </md-card>

  </div>

</div>