<md-card *ngIf="playlist" class="bg-card">
    <md-card-header>
        <div class="albumPic">
            <!-- <img *ngIf="!artworkUrl" src="../assets/channel_x.png"> -->
            <img style="max-height:100%; max-width:100%;"[src]="mediaService.getPlaylistImageUrl(this.playlist.artworkPath)">
        </div>
        <div class="albumInfo">
            <div><h4>Playlist</h4></div>
            <div><h1>{{playlist.title}}</h1></div>
            <div><h4>{{playlist.description}}</h4></div>
            <div *ngIf="playlist.owner.name"><h4>Created By <a class="link" [routerLink]="['/user', playlist.owner.email]">{{playlist.owner.name}}</a> - {{playlist.songs.length}} Songs, 3 hr 1 min</h4></div>
            <div *ngIf="!playlist.owner.name"><h4>Created By {{playlist.owner.email}} - {{playlist.songs.length}} Songs, 3 hr 1 min</h4></div>
            <button md-raised-button  class="rounded-button" (click)="playPlaylist()">Play</button>
            <button md-raised-button *ngIf="!playlist.following" (click)="followPlaylist()"  class="rounded-button">Follow</button>
            <button md-raised-button *ngIf="playlist.following" (click)="unFollowPlaylist()"  class="rounded-button">Unfollow</button>
            <button md-mini-fab  [mdMenuTriggerFor]="menu"  style="color: white; background-color:#3f51b5;"><i class="material-icons" style="font-size:18px;bottom:0;">more_horiz</i></button>
            <md-menu #menu="mdMenu" [overlapTrigger]="false" xPosition="before">
                <button (click)="openUpdateDialog()" md-menu-item>
                    <span>Edit Details</span>
                </button>
                <button (click)="deletePlaylist()" md-menu-item>
                    <span>Delete</span>
                </button>
                <button (click)="addToQueue()"md-menu-item>
                    <span>Add To Queue</span>
                </button>
                <button *ngIf="playlist.public" md-menu-item>
                    <span>Make Private</span>
                </button>
                <button *ngIf="!playlist.public" md-menu-item>
                    <span>Make Public</span>
                </button>
                
            </md-menu>
        </div>
    </md-card-header>
    <md-card-content>
        <div class="table">
            <music-table [data] = "playlist.songs" [isAlbum]="false" (remove)="deleteSongFromPlaylist($event)"> </music-table>
        </div>
    </md-card-content>
</md-card>
  
