<md-card style="height:100%; margin-bottom: 20%;">
    <md-card-header>
        <h1>MUSIC QUEUE</h1>
    </md-card-header>
    <md-tab-group>
        <md-tab label="QUEUE">
            <div>
                <button md-raised-button class="rounded-button" style="float:right" (click)="clearQueue()">Clear Queue</button>
                <h3>Now Playing</h3>
            </div>
            <div style="margin-bottom:5%;">
                <music-table [data]="nowPlaying" [isAlbum] = "false"></music-table>
            </div>
            <h3>Next Up</h3>
            <div>
            <music-table [data]="queue" [isAlbum]= "false" [isQueue]="true"></music-table>
            </div>
        </md-tab>
        <md-tab label="HISTORY">
            <div>
                <h3>History</h3>
            </div>
            <div style="margin-bottom:5%;">
                <music-table [data]="history" [isAlbum] = "false"></music-table>
            </div>
        </md-tab>
    </md-tab-group>



<md-card>