<div>
<md-card style="margin-bottom:10%">
<md-card-header>
<div>
    <div><h1>Recently Played Albums</h1></div>
</div>
</md-card-header>
<md-card-content>
<md-grid-list cols="4" [rowHeight]="rowHeight">
        <md-grid-tile *ngFor = "let album of albums" colspan= "1" rowpan = "1" >
            <div>
                <div style="height: 220px; width: 220px;"><image [src]="mediaService.getAlbumImageUrl(album.artworkPath)" [route]="'/album/'+album.id"></image></div>
                <div *ngIf ="album.title" class ="browse-item-template"><h4><b><a class="link" [routerLink]="['/album', album.id]">{{album.title}}</a></b></h4></div>
                <div *ngIf ="album.primaryArtist" class ="browse-item-template"><h4><b><a class="link" [routerLink]="['/artist', album.primaryArtist.id]">{{album.primaryArtist.name}}</a></b></h4></div>

            </div>
        </md-grid-tile>
</md-grid-list>
</md-card-content>
</md-card>
</div>