<div class="inner-side">
<md-list style="color:white;">

    
    <div mdLine class="profile-pic-btn">
        <button md-button (click)="logout()">
            <img src="../assets/profile pic.png">     
        </button>
        <p>Name</p>
    </div>
    <md-list-item>
        <div mdLine>
            <h4 class ="side-list"><a routerLink="/admin">Admin Utilities</a></h4>
        </div>
    </md-list-item>

    <md-list-item>
        <div mdLine>
            <h4 class ="side-list"><a routerLink="/">Browse</a></h4>
        </div>
    </md-list-item>
    
    <md-list-item>
        <h3 mdLine md-subheader>Your Library</h3>
        <div mdLine class= "side-list-div">
            <h4 class ="side-list"><a routerLink="/album">Recently Played</a> </h4>
        </div>
        <div mdLine class= "side-list-div">
            <h4 class ="side-list"><a routerLink="/library">Songs</a> </h4>
        </div>
        <div mdLine class= "side-list-div">
            <h4 class ="side-list"><a routerLink="/album-library">Albums</a> </h4>
        </div>
        <div mdLine class= "side-list-div">
            <h4 class ="side-list"><a routerLink="/artist/14">Artists</a> </h4>
        </div>
        <div mdLine class= "side-list-div">
            <h4 class ="side-list"><a routerLink="/playlist">Recommended</a></h4>
        </div>

    </md-list-item>
       <md-divider></md-divider>
    <md-list-item>
        <h3 mdLine md-subheader>Your Playlist <button (click)="addPlaylist()" md-icon-button style="float:right; color:white; margin-top:-5%;"><i class="material-icons">add_circle</i></button></h3>
        <div *ngFor="let playlist of savedPlaylists" mdLine >
            <i md-list-icon *ngIf= "playlist.source == 'friend'" class="material-icons playlist-icons">people</i>
            <i *ngIf= "playlist.source == 'public'" class="material-icons playlist-icons">public</i>
            <h4 class ="side-list"> <a routerLink="/">{{playlist.name}}</a></h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
        <h3 mdLine md-subheader>Recent Playlists</h3>
        <div *ngFor="let playlist of recentPlaylists" mdLine >
            <h4 class ="side-list"> <a routerLink="/">{{playlist}}</a></h4>
        </div>
    </md-list-item>


</md-list>
</div>